./data/*
./logs/*
vllm.log
schema_embeddings.pkl
wandb/
wandb/run*
./wandb/latest-run/
*.wandb
*.pyc
*.csv
*.out
outputs/*
*.log
__pycache__
*.pt
*.pkl
*.index
*.faiss
predictions.json
*.json
*.sqlite
dev_tables.json
dev.json
*.jpg
*.png
*.html
./checkpoints/*
./outputs/
./notebooks/*
*.txt
./related_works/*
*.yaml
*.jsonl
*.sqlite-shm
*.sqlite-wal
data/*
.env
*.stdout
*.pdf
*.md
notebooks/*
speed_test.py
src/utils/mschema
.claude/*
~/thesis_refactored/related_works/*
*.sh